#**PHILIP GEORGE VARUGHESE**
#**21BAI1623**

In [ ]:
#importing pandas
import pandas as pd

In [ ]:
#Building Dataframes with pandas from python dictionaries
# dictionary with list object in values
details = {
    'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age' : [23, 21, 22, 21],
    'University' : ['BHU', 'JNU', 'DU', 'BHU'],
}

In [ ]:
# creating a Dataframe object
df = pd.DataFrame(details)
df

        Name  Age University
0      Ankit   23        BHU
1  Aishwarya   21        JNU
2    Shaurya   22         DU
3   Shivangi   21        BHU

In [ ]:
#Create DataFrame from Dictionary with user-defined indexes.
# dictionary with list object in values
details1 = {
    'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age' : [23, 21, 22, 21],
    'University' : ['BHU', 'JNU', 'DU', 'BHU'],
}

In [ ]:
df1 = pd.DataFrame(details1, index = ['a', 'b', 'c', 'd'])
df1

        Name  Age University
a      Ankit   23        BHU
b  Aishwarya   21        JNU
c    Shaurya   22         DU
d   Shivangi   21        BHU

In [ ]:
#Create DataFrame from simple dictionary i.e dictionary with key and simple value like integer or string value.
# dictionary
list1=['S1','S2','S3','S4']
English=[89,90,78,98]
Maths=[67,90,100,100]
Science=[78,89,90,89]
titles=['ID','English','Maths','Science']
values=[list1,English,Maths,Science]
result=zip(titles,values)
result1 = list(result)
print(result1)

[('ID', ['S1', 'S2', 'S3', 'S4']), ('English', [89, 90, 78, 98]), ('Maths', [67, 90, 100, 100]), ('Science', [78, 89, 90, 89])]

In [ ]:
list1=['S1','S2','S3','S4']
English=[89,90,78,98]
Maths=[67,90,100,100]
Science=[78,89,90,89]
titles=['ID','English','Maths','Science']
values=[list1,English,Maths,Science]
result=list(zip(titles,values))
result

[('ID', ['S1', 'S2', 'S3', 'S4']),
 ('English', [89, 90, 78, 98]),
 ('Maths', [67, 90, 100, 100]),
 ('Science', [78, 89, 90, 89])]

In [ ]:
result1=dict(result)
df2=pd.DataFrame(result1)
print(df2)

   ID  English  Maths  Science
0  S1       89     67       78
1  S2       90     90       89
2  S3       78    100       90
3  S4       98    100       89

In [ ]:
#Importing data
df3=pd.read_csv(r'/content/sample_data/california_housing_test.csv')
df3.head()
df3.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
#Try by yourself
#Display first 10 lines of the file
df3.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [ ]:
df3.to_csv(r'Downloads\result.csv')

In [ ]:
#Creating Index for Entities
df4 = pd.DataFrame({'month': [2, 5, 8, 10],
                   'year': [2017, 2019, 2018, 2019],
                   'sale': [60, 45, 90, 36]})
df4

   month  year  sale
0      2  2017    60
1      5  2019    45
2      8  2018    90
3     10  2019    36

In [ ]:
#Type and info about dataframe
print("Type:\n",type(df4))
print(df4.head)
print("Shape of dataframe",df4.shape)

Type:
 <class 'pandas.core.frame.DataFrame'>
<bound method NDFrame.head of    month  year  sale
0      2  2017    60
1      5  2019    45
2      8  2018    90
3     10  2019    36>
Shape of dataframe (4, 3)

In [ ]:
#Try by yourself
#Append same data in df4 to df4 itself using append function
#Print its shape
#Use drop_duplicates to remove duplicates
#print shape again
print(pd.concat([df4,df4]))
print("Shape of dataframe",df4.shape)

   month  year  sale
0      2  2017    60
1      5  2019    45
2      8  2018    90
3     10  2019    36
0      2  2017    60
1      5  2019    45
2      8  2018    90
3     10  2019    36
Shape of dataframe (4, 3)

In [ ]:
df4.drop_duplicates(subset=['month'])
print("Shape of dataframe",df4.shape)

Shape of dataframe (4, 3)

In [ ]:
print("Columns of dataframe:\t", df2.columns)

Columns of dataframe:	 Index(['ID', 'English', 'Maths', 'Science'], dtype='object')

In [ ]:
df2.rename(columns={'Maths':'Mathemtics'},inplace=True)
df2

   ID  English  Mathemtics  Science
0  S1       89          67       78
1  S2       90          90       89
2  S3       78         100       90
3  S4       98         100       89

In [ ]:
print("Columns of dataframe:\t", df2.columns)

Columns of dataframe:	 Index(['ID', 'English', 'Mathemtics', 'Science'], dtype='object')

In [ ]:
print(df2.describe())

         English  Mathemtics    Science
count   4.000000    4.000000   4.000000
mean   88.750000   89.250000  86.500000
std     8.220908   15.564382   5.686241
min    78.000000   67.000000  78.000000
25%    86.250000   84.250000  86.250000
50%    89.500000   95.000000  89.000000
75%    92.000000  100.000000  89.250000
max    98.000000  100.000000  90.000000

In [ ]:
print('No. of subjects', df2['Mathemtics'].count())

No. of subjects 4

In [ ]:
print('No. of subjects', df2['Mathemtics'].unique())

No. of subjects [ 67  90 100]

In [ ]:
# Accessing using Index
# importing pandas as pd

import pandas as pd

# Creating the DataFrame
df = pd.DataFrame({'Weight':[45, 88, 56, 15, 71],
                   'Name':['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age':[14, 25, 55, 8, 21]})

# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']

# Set the index
df.index = index_

In [ ]:
# return the value
result = df.loc['Row_2', 'Name']

# Print the result
print(result)

Andrea

In [ ]:
df.iloc[4]

Weight     71
Name      Kia
Age        21
Name: Row_5, dtype: object

In [ ]:
df.iloc[[2,3],[1,2]]
#gets 2nd and 3rd row, 1st and 2nd column data

        Name  Age
Row_3   Alex   55
Row_4  Robin    8

In [ ]:
df.iloc[:,[1,2]]

         Name  Age
Row_1     Sam   14
Row_2  Andrea   25
Row_3    Alex   55
Row_4   Robin    8
Row_5     Kia   21

In [ ]:
df.iloc[[1,2],:]

       Weight    Name  Age
Row_2      88  Andrea   25
Row_3      56    Alex   55

In [ ]:
df.iloc[:2,1:3]
#if slice is a:b, then a is included and b is excluded

         Name  Age
Row_1     Sam   14
Row_2  Andrea   25

In [ ]:
df2.set_index('English')

         ID  Mathemtics  Science
English
89       S1          67       78
90       S2          90       89
78       S3         100       90
98       S4         100       89

In [ ]:
print(df2.head())

   ID  English  Mathemtics  Science
0  S1       89          67       78
1  S2       90          90       89
2  S3       78         100       90
3  S4       98         100       89

In [ ]:
#Use DataFrame.loc attribute to access a particular cell in the given Dataframe using the index and column labels.
# importing pandas as pd
import pandas as pd

# Creating the DataFrame
df = pd.DataFrame({'Weight':[45, 88, 56, 15, 71],
                   'Name':['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age':[14, 25, 55, 8, 21]})

# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']

# Set the index
df.index = index_

# Print the DataFrame
print(df)
###Now we will use DataFrame.loc attribute to return the value present in the Name column corresponding to the Row_2 label.
# return the value
result = df.loc['Row_2', 'Name']

# Print the result
print(result)

       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      71     Kia   21
Andrea

In [ ]:
##Use DataFrame.loc attribute to return two of the column in the given Dataframe.
# importing pandas as pd
import pandas as pd

# Creating the DataFrame
df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[7, 2, 54, 3, None],
                   "C":[20, 16, 11, 3, 8],
                   "D":[14, 3, None, 2, 6]})

# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']

# Set the index
df.index = index_

# Print the DataFrame
print(df)
###Now we will use DataFrame.loc attribute to return the values present in the A and D column of the Dataframe.
# return the values.
result = df.loc[:, ['A', 'D']]

# Print the result
print(result)

          A     B   C     D
Row_1  12.0   7.0  20  14.0
Row_2   4.0   2.0  16   3.0
Row_3   5.0  54.0  11   NaN
Row_4   NaN   3.0   3   2.0
Row_5   1.0   NaN   8   6.0
          A     D
Row_1  12.0  14.0
Row_2   4.0   3.0
Row_3   5.0   NaN
Row_4   NaN   2.0
Row_5   1.0   6.0

In [ ]:
###Try by yourself
##Creating subsets using relational operators
df4[1:4]

   month  year  sale
1      5  2019    45
2      8  2018    90
3     10  2019    36

In [ ]:
##Groupby
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [ ]:
#To group by teams
print(df.groupby('Team'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f9f48c2a830>

In [ ]:
# To view group
print(df.groupby('Team').groups)

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}

In [ ]:
#Groupby multiple columns
print(df.groupby(['Team','Year']).groups)

{('Devils', 2014): [2], ('Devils', 2015): [3], ('Kings', 2014): [4], ('Kings', 2016): [6], ('Kings', 2017): [7], ('Riders', 2014): [0], ('Riders', 2015): [1], ('Riders', 2016): [8], ('Riders', 2017): [11], ('Royals', 2014): [9], ('Royals', 2015): [10], ('kings', 2015): [5]}

In [ ]:
#Iterating through Groups
grouped = df.groupby('Year')
for name,group in grouped:
   print(name)
   print(group)

2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

In [ ]:
#Select a Group
grouped = df.groupby('Year')
print(grouped.get_group(2014))

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [ ]:
###Aggregations
import numpy as np
grouped = df.groupby('Year')
print(grouped['Points'].agg(np.mean))
print(grouped['Points'].agg(np.sum))

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64
Year
2014    3181
2015    3078
2016    1450
2017    1478
Name: Points, dtype: int64

In [ ]:
#Applying Multiple Aggregation Functions at Once
grouped = df.groupby('Team')
print(grouped['Points'].agg([np.sum, np.mean, np.std]))

         sum        mean         std
Team
Devils  1536  768.000000  134.350288
Kings   2285  761.666667   24.006943
Riders  3049  762.250000   88.567771
Royals  1505  752.500000   72.831998
kings    812  812.000000         NaN